@import url('https://fonts.googleapis.com/css2?family=Mandali&family=Work+Sans:wght@400;700&display=swap');

/* ============ Setup général de la page ============ */
.container {
    width: 1060px;
    margin: auto;
}

.separation {}

/* ============ Header Section ============ */
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./img/yogamat.jpg');
    background-position: center;
    background-size: cover;
    padding: 20px;
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav img {
    height: 50px;
    width: auto;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 20px;
    color: white;
}

header h1 {
    margin: 0;
}

.description_header{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 150px 0;
}

.description_header button {
    width: 12%;
    padding: 1%;
    border-radius: 50px;
    border: none;
}

/* ============ Concept Section ============ */
.concept_right {
    display: flex;
}

.concept_left{
    display: flex;
}

.center_logo {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

.logo {
    width: 100%;
    background-color: white;
    border-radius: 100%;
    padding: 20%;
    border: 1px solid black;
}