h1 {
  font-family: "Playfair Display", serif;
}

/* === Header section === */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-image: url(./images/detoxcuresmoothie.jpg);
  background-position-y: 60%;
  background-size: 100%;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

header > div > h1 {
  color: white;
  letter-spacing: 0.5rem;
}

/* === Notre devise Section === */

#sm_devise{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

img{
  width: 80%;
}

#smoothie{
  width: 30%;
}

#devise{
  width: 70%;
}

#devise > h2 {
  text-align: center;
}

/* === Méthode de fabrication section === */

#fabrication_section{
  width: 100%;
  background: linear-gradient(#FEB4C3, #F59E28);
}

#fabrication{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.logo{
  width: 10%;
}

/* === Le Conceptation section === */

.concept{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.container>h2 {
  text-align: center;
}


/* === Footer section === */

footer {
  height: 100px;
  background-color: #F59E28; 
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  margin: 0;
  color: white;
}