body {
  margin: 0;
}

h1 {
  font-family: "Playfair Display", serif;
}

/* === Header section === */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-image: url(./images/detoxcuresmoothie.jpg);
  background-position-y: 60%;
  background-size: 100%;
}

.container {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
}

header > div > h1 {
  color: white;
  letter-spacing: 0.5rem;
}

/* === Notre devise Section === */

#sm_devise{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
}

img{
  width: 80%;
}

#smoothie{
  width: 30%;
}

#devise{
  width: 70%;
}

#devise > h2 {
  text-align: center;
}

/* === Méthode de fabrication section === */

#fabrication{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}



.logo{
  width: 5%;
}